# NLP Sentiment Analysis of Disneyland Reviews

# Library Imports

In [ ]:
import tensorflow as tf
from tensorflow import keras

# tokenizer
from tensorflow.keras.preprocessing.text import Tokenizer

# padding
from tensorflow.keras.preprocessing.sequence import pad_sequences

import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

# Data Loading

In [4]:
df = pd.read_csv("DisneylandReviews.csv", encoding = 'latin-1')
df.head()

,Review_ID,Rating,Year_Month,Reviewer_Location,Review_Text,Branch
0,670772142,4,2019-4,Australia,If you've ever been to Disneyland anywhere you...,Disneyland_HongKong
1,670682799,4,2019-5,Philippines,Its been a while since d last time we visit HK...,Disneyland_HongKong
2,670623270,4,2019-4,United Arab Emirates,Thanks God it wasn t too hot or too humid wh...,Disneyland_HongKong
3,670607911,4,2019-4,Australia,HK Disneyland is a great compact park. Unfortu...,Disneyland_HongKong
4,670607296,4,2019-4,United Kingdom,"the location is not in the city, took around 1...",Disneyland_HongKong

In [5]:
df.shape

(42656, 6)